@tailwind base;
* {
  @apply m-0 p-0 relative box-content;
}
::selection {
  @apply bg-gray-900 text-white dark:bg-gray-200 dark:text-gray-900;
}
header,
section,
footer {
  @apply flex flex-col justify-center h-screen;
  scroll-snap-align: start;
}
a {
  @apply transition-all duration-200 ease-out hover:ease-in rounded;
}
p {
  @apply max-w-prose;
}
@tailwind components;
@media (prefers-color-scheme: dark) {
  .highlighted {
    @apply text-yellow-200;
  }
}
.ch-all {
  width: min(80%, 90%);
  margin: 0 auto;
}
.bubble {
  @apply shadow-light dark:shadow-dark hover:text-white hover:shadow-lightHover dark:hover:shadow-darkHover dark:hover:text-gray-900;
}
.i-link {
  @apply group-hover:text-white dark:group-hover:text-yellow-200 text-gray-900;
}
.icon {
  @apply text-center h-8 w-8 bg-white dark:bg-gray-300 hover:bg-gray-900;
}
@tailwind utilities;
